<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>
	<connectionStrings>
		<add name="SQLConnection" connectionString="Server=.\SQLEXPRESS;initial catalog=TestDB;Integrated Security=true"/>
	</connectionStrings>

	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory name="Default">
			<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
			<property name="connection.connection_string_name">SQLConnection</property>
			<property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
		</session-factory>
	</hibernate-configuration>
	
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
